body {
    font-family: 'Roboto', Arial, sans-serif;
    background-color: #fff;
    text-align: center;
}

.nav {
    text-align: center;
    width: 100%;
    height: 50px;
    background-color: #0d5ee0;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.nav a{
    margin-right: 10px;
    text-align: center;
    line-height: 50px;
    color: #fbfbfb;
    transition: background-color 0.2s ease;
    text-transform: uppercase;
    text-decoration: none;
}

.nav a.active {
    color: black;
}

.wrap-page-content {
    padding: 25px;
}

.noFound{
    text-align: center;
    padding-top: 25px;
}
