body{
  padding: 20px;
  font-family: sans-serif;
}

header{
  padding: 20px;
  background: #eee;
}

.myList{
  padding: 20px;
  display: flex;
  flex-direction: column;
}
.myList_Item{
  display: flex;
  justify-content: space-between;
  padding: 8px 20px;
  margin-bottom: 5px;
  border-bottom: 1px solid gray;
}
.myList_Item.done{
  text-decoration: line-through;
  color: red;
}

.MyInput{
  width: 100%;
  box-sizing: border-box;
  padding: 8px 20px;
}

.NotFind{
  box-sizing: border-box;
  padding: 8px 20px;
  background: #F4EED7;
}

.App-title {
  margin-top: 0px;
  position: absolute;
  font-size: 40px;
  z-index: 1;
}
.App-title2 {
  text-decoration: line-through;
  color: red;
  position: relative;
  left: 229px;
  bottom: 89px;
  -webkit-transform: rotate(-7deg);
}

.button_done{
  height: 45px;
  width: 180px;
  border-radius: 5px;
  background-color: #94c11e;
  font-size: 20px;
  font-weight: bold;
  font-family: "Myriad Pro";
}

.ourProps {
  font-weight: bold;
}
